<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Personalise">
        <setting id="Data" type="bool" label="Settings" default="true" visible="false"/>
    </category>	
	<category label="Auto-View">
		<setting id="auto-view" type="bool" label="Enable Auto View" default="true"visible="true"/>
		<setting id="MAIN" type="number" label="MAIN" default="500" enable="!eq(-1,false)"visible="true"/>
		<setting id="INFO" type="number" label="INFO" default="515" enable="!eq(-1,false)"visible="true"/>
        <setting id="message" type="bool" label="for messages" default="false" visible="false"/>
        <setting id="pop_time" type="text" label="For POP UP" default="2000-01-01 00:00:00" visible="false"/>
   	</category>
</settings>