<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Results">
        <setting id="low_return" type="select" label="Lowest Quality (p)" values="None|360|480|720|1080" default="None" />
        <setting id="high_return" type="select" label="Highest Quality (p)" values="None|360|480|720|1080" default="1080" />
        <setting id="autoplay" type="bool" label="Auto Play" default="false" />
    </category>	
	<category label="Reliable Hosts">
        <setting id="vidzi" type="bool" label="Vidzi" default="true" />
        <setting id="thevideo" type="bool" label="Thevideo" default="true" />
        <setting id="gvid" type="bool" label="Gvideo" default="true" />
        <setting id="direct" type="bool" label="Direct" default="true" />
    </category>	
	<category label="Tools">
		<setting label="Wee Scraper Settings" type="action" option="close"action="RunPlugin(plugin://plugin.video.weetv/?mode=31)"/>				 
		<setting label="Clear Wee Scraper Cache" type="action" action="RunPlugin(plugin://plugin.video.weetv/?mode=32)"/>	
		<setting label="Clear weeTV Cache" type="action" action="RunPlugin(plugin://plugin.video.weetv/?mode=33)"/>	
		<setting label="Clear Watched List" type="action" action="RunPlugin(plugin://plugin.video.weetv/?mode=34)"/>	
	<setting id="debug" type="bool" label="Debugging" default="false"/>	
    </category>	

	<category label="Test settings">
		<setting id="allow_debrid" value="false" />
		<setting id="allow_openload" value="false" />
		<setting id="allow_the_video_me" value="true" />
		<setting id="allow_vidup_me" value="true" />
	</category>
	
</settings>