<settings>
    <setting id="addons.ini.file" value="http://megatvbox.uk/addons.ini" />
    <setting id="addons.ini.type" value="1" />
    <setting id="alternative.playback" value="false" />
    <setting id="autostart" value="false" />
    <setting id="background.service" value="false" />
    <setting id="background.stream" value="false" />
    <setting id="enable.osd" value="true" />
    <setting id="logos.enabled" value="true" />
    <setting id="logos.folder" value="http://megatvbox.uk/" />
    <setting id="logos.source" value="0" />
    <setting id="notifications.enabled" value="true" />
    <setting id="service.interval" value="2" />
    <setting id="skin" value="default" />
    <setting id="xmltv.file" value="http://megatvbox.uk/cerebrouk.xml" />
    <setting id="xmltv.interval" value="2" />
    <setting id="xmltv.refresh" value="false" />
    <setting id="xmltv.type" value="6" />
    <setting id="xmltv.type_select" value="Custom File" />
</settings>
