<settings>
<category label="addons.ini File">
<setting id="addons.folder" label="Folder" type="folder" default="special://home/userdata"/>
<setting id="addons.file" label="Filename" type="text" default="addons_custom.ini"/>
</category>
<!--<category label="Display">
<setting id="view_mode" label="View Mode" type="number" default="51" />
</category>-->
</settings>