<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>	</category>	<category label="Scrapers 1">
		<setting label="CoolTV" type="lsep"/>
		<setting id="CoolTV_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Indexer" type="lsep"/>
		<setting id="Indexer_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="OneOnline" type="lsep"/>
		<setting id="OneOnline_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="primewire" type="lsep"/>
		<setting id="primewire_enabled" type="bool" label="Enabled" default="true"/>
		<setting id= "primewire_baseurl" type="text" label="Base Url" default="http://www.primewire.ag"/>
		<setting label="ProjectFree" type="lsep"/>
		<setting id="ProjectFree_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="SeriesCraving" type="lsep"/>
		<setting id="SeriesCraving_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="serieswatch" type="lsep"/>
		<setting id="serieswatch_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="TheWatchSeries" type="lsep"/>
		<setting id="TheWatchSeries_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="uwatchfree" type="lsep"/>
		<setting id="uwatchfree_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="Watch32hd" type="lsep"/>
		<setting id="Watch32hd_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchepisodes" type="lsep"/>
		<setting id="watchepisodes_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="WMO" type="lsep"/>
		<setting id="WMO_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="yesmovies" type="lsep"/>
		<setting id="yesmovies_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>