#########################
# Different Sites Veetle and ACE in Sattekopies.cfg
#########################
skill=videoTitle
catcher=streams
#############

#############

############
title=PAC Network 1080
icon=
url=http://138.197.197.28/ggwp/network/ggp12n-4728.m3u8
############
title=PAC Arizona 1080
icon=
url=http://138.197.197.28/ggwp/arizona/ggp12a-4728.m3u8
############
title=PAC Bavarea 1080
url=http://138.197.197.28/ggwp/bayarea/ggp12b-4728.m3u8
############
title=PAC Washington 1080
icon=
url=http://138.197.197.28/ggwp/washington/ggp12w-4728.m3u8
############
title=PAC Mountain 1080
icon=
url=http://138.197.197.28/ggwp/mountain/ggp12m-4728.m3u8
############
title=PAC Los Angeles 1080
icon=
url=http://138.197.197.28/ggwp/losangeles/ggp12l-4728.m3u8
############
title=PAC Oregon 1080
icon=
url=http://138.197.197.28/ggwp/oregon/ggp12o-4728.m3u8
############

title=PAC Network 720
icon=
url=http://138.197.197.28/ggwp/network/ggp12n-2328.m3u8
############
title=PAC Arizona 720
icon=
url=http://138.197.197.28/ggwp/arizona/ggp12a-2328.m3u8
############
title=PAC Bavarea 720
icon+
url=http://138.197.197.28/ggwp/bayarea/ggp12b-2328.m3u8
############
title=PAC Washington 720
icon=
url=http://138.197.197.28/ggwp/washington/ggp12w-2328.m3u8
############
title=PAC Mountain 720
icon=
url=http://138.197.197.28/ggwp/mountain/ggp12m-2328.m3u8
############
title=PAC Los Angeles 720
icon=
url=http://138.197.197.28/ggwp/losangeles/ggp12l-2328.m3u8
############
title=PAC Oregon 720
icon=
url=http://138.197.197.28/ggwp/oregon/ggp12o-2328.m3u8
############
title=PAC Network SD
icon=
url=http://138.197.197.28/ggwp/network/ggp12n-1164.m3u8
############
title=PAC Arizona SD
icon=
url=http://138.197.197.28/ggwp/arizona/ggp12a-1164.m3u8
############
title=PAC Bavarea SD
url=http://138.197.197.28/ggwp/bayarea/ggp12b-1164.m3u8
############
title=PAC Washington SD
icon=
url=http://138.197.197.28/ggwp/washington/ggp12w-1164.m3u8
############
title=PAC Mountain SD
icon=
url=http://138.197.197.28/ggwp/mountain/ggp12m-1164.m3u8
############
title=PAC Los Angeles SD
icon=
url=http://138.197.197.28/ggwp/losangeles/ggp12l-1164.m3u8
############
title=PAC Oregon SD
icon=
url=http://138.197.197.28/ggwp/oregon/ggp12o-1164.m3u8
############

title=BT Sport 1 (ACE)
url=acestream://e502c197dde3921551957ef2ec08fc6bbdc663ae
title=BT Sport 2 (ACE)
url=acestream://04b38c71065be18d799edf8c37d63e738030b84d
#title=BT Sport ESPN (ACE)
#url=acestream://f4e2ade22f407fe567728923cbbe1ccb5b43a9df
title=Sky Sports 1 (ACE)
url=acestream://56506f4520084676a361b2f2165a8c315db43e14
title=Sky Sports 2 (ACE)
url=acestream://6b2fb9a9e67aaabd63004059147dfdc46e882aba
#title=Sky Sports 2 HD (ACE)
#url=acestream://ca439be931ee0bea7b19f60b328eca8812a23320
title=Sky Sports 3 (ACE)
url=acestream://4dbce55abecd154ff71b3477a332bd63611309e5
title=Sky Sports 4 (ACE)
url=acestream://969a42388e101e6c6d9574a311e4b387a6ff1413
title=Sky Sports 5 (ACE)
url=acestream://f683dca6a4a825435f3605d0a832b5178e79c5d9
title=Sky Sports F1 (ACE)
url=acestream://969dbafa76bbd0ca37d73629f392c83fcf9cc295
title=CBC Sport HD (ACE)
url=acestream://cbca968e4c01c2578290c297659d1918db1b85a1
title=Eurosport 1 (ACE)
url=acestream://fde2269c208f2b80ad2fabf50611f4864ab54dc2
title=Eurosport 1 HD (ACE)
url=acestream://7b665f4a5574d6d8cbb702497925726695f13efb
title=Eurosport 2 (ACE)
url=acestream://e262d570d9dbe98e76ee577a984a6e1bb5f85383
title=Eurosport 2 HD (ACE)
url=acestream://727266a3b58932350d9fbea05e1b9537c0867c8d
title=Setanta (ACE)
url=acestream://41dda4b866fc8fe54133ce042abe773b1404d27a
title=TSN 1 (ACE)
url=acestream://4e5abe370e1bfa45a5d8dfb510431b662ab90225
title=Viasat Fotboll (ACE)
url=acestream://39d7ce51862a8288da7fbabd60cdfff6c45c47eb
title=Viasat Golf (ACE)
url=acestream://7f0946d70c52974c4cf1ff9cd00e6904169edd4d
title=Viasat Hockey (ACE)
url=acestream://7a73b3500cedc9f986ba0ac26776a2be236f71e4
title=Viasat Motor (ACE)
url=acestream://0afc6b95e79f63b7e0f00484453d5cc0c1a67290
title=Viasat Sport (ACE)
url=acestream://7cd1df464b44a4abf967ced8bbe15bd3adb2292d
title=Viasat Sport Baltic (ACE)
url=acestream://bbc1b2b93ef08e2643a50c400651803de11eace0
title=Viasat Sport HD (ACE)
url=acestream://7d4c1120e93f11b3863b75682989e138f0008039
title=Eurosport News
url=acestream://3ed23bb5260dc05c6cfb1dc23276a3a177c73c27
title=Extreme Sports (ACE)
url=acestream://e3046bc3f81a420d26795b00792e0121abd12723
title=Idman TV (ACE)
url=acestream://85c8e1d6460e8efd0a4d91f1170a1a39eed803d1
title=Kazsport (ACE)
url=acestream://ae1f4846d3714d27f8b074457f6f36ed1d5f12a1
title=Real Madrid TV (ACE)
url=acestream://677b613d289b71812cbee35c6948a27161a50b7f
title=Setanta Sports + HD (ACE)
url=acestream://887c32a4712d6ce3c6104562e2ee3d9afb1592ac
title=Sport 1 LT (ACE)
url=acestream://0b48bf1261368b82637d8a26eb4457d54c80f3e1
title=Sport 5+ Live HD (ACE)
url=acestream://9e0a489436b0859e20098fc3f81e07abb4c5a612
title=Super Tennis HD (ACE)
url=acestream://48484ee5791db5fbf7d6751fb01f8247588d01b7


#############
title=test
icon=
url=http://tmg.ustreamix.com/tmg.m3u8?stream=sky-sports-2-b&expired=b6508a5d1af0a40cfded7e4c9f801b1e&token=8004a796d4af5486af863788e47fb705
#############
title=test2
icon=
url=http://tmg.ustreamix.com/tmg.m3u8?stream=sky-sports-2-b
#############
title=BVLS/SEBN 1
icon=
url=http://sebn.sc/sebn-1.php
#############
title=BVLS/SEBN 2
icon=
url=http://sebn.sc/sebn-2.php
#############
title=BVLS/SEBN 3
icon=
url=http://sebn.sc/sebn-3.php
#############
title=BVLS/SEBN 4
icon=
url=http://sebn.sc/sebn-4.php
#############
title=BVLS/SEBN 5
icon=
url=http://sebn.sc/sebn-5.php
#############
title=BVLS/SEBN 6
icon=
url=http://sebn.sc/sebn-6.php
#############
title=BVLS/SEBN 7
icon=
url=http://sebn.sc/sebn-7.php
#############
title=BVLS/SEBN 8
icon=
url=http://sebn.sc/sebn-8.php
#############
title=BVLS/SEBN 9
icon=
url=http://sebn.sc/sebn-9.php
#############
title=BVLS/SEBN 10
icon=
url=http://sebn.sc/sebn-10.php
#############
title=BVLS/SEBN 11
icon=
url=http://sebn.sc/sebn-11.php
#############
title=BVLS/SEBN 12
icon=
url=http://sebn.sc/sebn-12.php



title=popus SEBN-5
icon=
url=http://www.sebn.sc/popup-5.php



############
title=TSN1
icon=
url=http://149.202.207.8:8080/sAlakHHarR00si/teesn1/index.m3u8|User-Agent=Mozilla/5.0 (Windows NT 6.3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785.116 Safari/537.36
############
title=TC2
icon=
url=http://tumarcador.xyz/canal2.php
############
title=TC3
icon=
url=http://tumarcador.xyz/canal3.php
############
title=TC4
icon=
url=http://tumarcador.xyz/canal4.php
############
title=TC5
icon=
url=http://tumarcador.xyz/canal5.php
############
title=TC6
icon=
url=http://tumarcador.xyz/canal6.php
############
title=TC7
icon=
url=http://tumarcador.xyz/canal7.php
############
title=TC8
icon=
url=http://tumarcador.xyz/canal8.php

############
title=TV West
icon=
url=http://www.omroepwest.nl/livetv




############
title=Boulevard
icon=
url=http://www.scheveningenlive.nl/boulevard-webcam/
############
title=Pier
icon=
url=http://www.scheveningenlive.nl/pier-webcam/
############
title=Surf
icon=
url=http://www.scheveningenlive.nl/surf-webcam/
############
title=Strand
icon=
url=http://www.scheveningenlive.nl/strand-webcam/
############
title=Kitesurf
icon=
url=http://www.scheveningenlive.nl/kitesurf-webcam/
############
title=Beach
icon=
url=http://www.scheveningenlive.nl/evenementen-webcam/
############
title=Sportstrand
icon=
url=http://www.scheveningenlive.nl/sportstrand-webcam/
############
title=Havenhoofd Zuid
icon=
url=http://www.scheveningenlive.nl/zuidelijk-havenhoofd-webcam/
############
title=Havenhoofd Noord
icon=
url=http://www.scheveningenlive.nl/noordelijk-havenhoofd-webcam/
############
title=Hoek van Holland
icon=
url=http://hdtv.webcam.nl/hoekvanholland/
############
title=Velsen YT
icon=
url=https://webcam.nl/alohabeach/
############
title=Velsen Alohabeach
icon=
url=https://www.youtube.com/watch?v=fDxkdxX0B3I
############
title=Castricum Deining
icon=
url=http://hdtv.webcam.nl/deining/
############
title=Sportatsea
icon=
url=http://hdtv.webcam.nl/sportsatsea/
############
title=Florida Chesapeake Beach
icon=
url=https://www.skylinewebcams.com/en/webcam/united-states/florida/islamorada/chesapeake-beach-resort.html

############
title=Canal 1
icon=
url=http://tumarcador.xyz/canal1
############
############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=
############
title=
icon=
url=

